.wrapper {
  padding-top: 40vh;
  padding-bottom: 40vh;
  position: relative;
  pointer-events: none;
}

.detail {
  max-width: 650px;
  margin: auto;
  padding: 30px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  p {
    font-size: 22px;
    margin: 0;
    padding: 0;
    pointer-events: initial;
  }
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .detail {
    max-width: 95%;

    p {
      font-size: 18px;
    }
  }
}
