.wrapper {
  font-family: Arial, sans-serif;
  position: relative;
}

.wrapper * {
  box-sizing: border-box;
}

.first-marker {
  padding-top: 100vh !important;
}

.last-marker {
  padding-bottom: 100vh !important;
}
